.header{
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__phone-box-small{
  display: none;
}

.header__section{
  padding: 40px 0 120px 0;
  color: var(--color-text);
}

.header__container{
  display: flex;
  justify-content: space-between;
}

.phone{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.phone__number{
  font-weight: 400;
  font-size: 23.85px;
  line-height: 28px;
  padding-top: 9px;
  transition: opacity 0.3s ease-in-out;
}

.phone__callback{
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding-top: 4px;
  transition: opacity 0.3s ease-in-out;
}

.phone__callback::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  bottom: -2px;
}

.phone__number:hover,
.phone__callback:hover,
.phone__callback:hover::before{
  opacity: 0.5;
}

.content{
  color: rgba(255, 255, 255, 0.86);
  padding: 0;
  padding-bottom: 120px;
}

.content__box{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 965px;
}

.content__title{
  font-weight: 900;
  font-size: 52px;
  line-height: 61px;
  margin-bottom: 32px;
}

.content__text{
  font-weight: 400;
  font-size: 22px;
  line-height: 31px;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 90px;
}

@media (max-width: 1025px) {
  .logo{
    width: 60px;
    height: 60px;
  }

  .header__section{
    padding: 25px 0 70px 0;
  }

  .phone__number{
    padding-top: 5px;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
  }

  .phone__callback{
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    padding-top: 8px;
  }

  .content{
    padding-bottom: 70px;
  }

  .content__box{
    max-width: 822px;
  }

  .content__title{
    font-weight: 900;
    font-size: 40px;
    line-height: 47px;
  }

  .content__text{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 54px;
  }
}

@media (max-width: 700px) {
  .logo{
    width: 30px;
    height: 30px;
  }

  .header__section{
    padding: 15px 0 62px 0;
  }

  .phone{
    display: none;
  }
  .header__phone-box-small{
    display: block;
  }

  .header__phone-box-small img{
    width: 30px;
    height: 30px;
  }

  .content__box {
    max-width: 320px;
    width: 100%;
  }

  .content__title{
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;

    margin-bottom: 26px;
  }

  .content__text{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    margin-bottom: 11px;
  }

  .content {
    padding-bottom: 63px;
  }

}
